.app-container {
  height: calc(100% - 64px);
  width: 100%;
}

.sidenav-list{
  padding: 10px 10px 0px 0px;
}

.sidenav-content{
  padding: 16px;
}

.list-item{
  margin-left: 10px;
}

.app-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      margin-right: 20px;
    }
  }
}